<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Your ToDos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" (click)="showCreateDialog()">
    <ion-fab-button color="secondary">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let todo of todos">
      <ion-label>
        <h2> {{ todo.data().todo_title }} </h2>
        <h3>{{ todo.data().todo_date.toDate() }} </h3>
        <p>{{ todo.data().todo_description }} {{ todo.data().enabled }} </p>
      </ion-label>
      <ion-button slot="end" color="secondary" [disabled]="!getEnabledStatus(todo.data())">Edit</ion-button>
    </ion-item>
  </ion-list>

</ion-content>